.body {
        font-family: Roboto, sans-serif;
}
/* ---------other--------- */
.list{
        list-style: none;
}
.h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        color: #2E2F42;
        letter-spacing: 0.02em;
}

.h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #2E2F42;
        letter-spacing: 0.02em;
}

.p {
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
}

/* ----------HEADER--------- */
.head-color {
        background: #FFFFFF;
}

.logo {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        text-decoration:none;
        letter-spacing: 0.03em;
}

.web {
        color: #4D5AE5;
        text-transform: uppercase;
}

.studio {
        color: #2E2F42;
}
.nav-list{
        text-decoration: none
}

.link{
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.link-color {
        color: #2E2F42;
        text-decoration: none;
}
.link :hover {
        color: #434455;
}
.link :focus {
        color: #434455;
}
.link :active {
        color: #4D5AE5;
}


.adress-style {
        list-style: none;
}
.adress-color :hover {
        color: #4D5AE5;
}
.adress-link{
        text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
}

/* --------------HERO----------- */
.bkgr_color {
        background: #2E2F42;
}

.main_top {
        font-weight: 600;
        font-size: 56px;
        line-height: 1.07;
        color: #FFFFFF;
        letter-spacing: 0.02em;
}
/* ---------BUTTON----------- */
.btn {  
        cursor: pointer;
        background: #4D5AE5;
        padding: 16px 32px;
}
.btn:hover{
        background: #4D5AE5;
}
.btn:active{
        background-color:  #404BBF;
}

.btn_text {
        list-style: none;
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        color: #FFFFFF;
        letter-spacing: 0.04em;
}

/* < !-- -----------What are we doing---------- --> */

/* ------------OUR TEAM---------- */
.bkgr-color-team {
        background: #F4F4FD;
}

/* --------FOOTER-------- */
.studio-footer-color {
        color: #F4F4FD;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        color: #E7E9FC;
}
/* -----------PORTFOLIO---------- */

.text-btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #4D5AE5;
        background: #F4F4FD;
        padding: 4px 8px;
        cursor: pointer;
        letter-spacing: 0.04em;
}
.text-btn:active{
        background: #4D5AE5;
        color: #E7E9FC;
}
