body {
        font-family: Roboto, sans-serif;
}
/* ---------other--------- */
.list{
        list-style: none;
}
h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        color: #2E2F42;
}

h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #2E2F42;
}

p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
}

/* ----------HEADER--------- */
.head-color {
        background: #FFFFFF;
}

.logo {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
}

.web {
        color: #4D5AE5;
}

.studio {
        color: #2E2F42;
}

.link{
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
}
.link-color {
        color: #2E2F42;
}
.link :hover {
        color: #434455;
}
.link :focus {
        color: #434455;
}
.link :active {
        color: #4D5AE5;
}


.adress-style {
        list-style: none;
}
.adress-color :hover {
        color: #4D5AE5;
}
.adress-link{
        
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
}

/* --------------HERO----------- */
.bkgr_color {
        background: #2E2F42;
}

.main_top {
        font-weight: 600;
        font-size: 56px;
        line-height: 1.07;
        color: #FFFFFF;
}
/* ---------BUTTON----------- */
.btn {  
        background: #4D5AE5;
}
.btn :hover{
        background: #4D5AE5;
}
.button :active{
        background-color:  #404BBF;
}

.btn_text {
        font-family: 'Roboto';
        list-style: none;
        font-size: 16px;
        line-height: 1.2;
        color: #FFFFFF;
}

/* < !-- -----------What are we doing---------- --> */

/* ------------OUR TEAM---------- */
.bkgr-color-team {
        background: #F4F4FD;
}

/* --------FOOTER-------- */
.studio-footer-color {
        color: #F4F4FD;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #E7E9FC;
}
/* -----------PORTFOLIO---------- */
.text-btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #4D5AE5;
        background: #F4F4FD;
}

.gallery :active {  
        color: #E7E9FC
}

.buttons :active{
      background: #4D5AE5;
}
